.modal-backdrop {
    background-color: rgba($grey-6, 0.35);
}

.modal {
    .select2-container {
        z-index: 1060;
    }
    .modal-dialog {
        .modal-content {
            border-radius: rem(8);
            padding: rem(17) rem(12);
            border: none;
            .modal-header {
                border: none;
                padding: 0;
                justify-content: center;
                margin-bottom: rem(20);
                position: relative;
                .modal-title {
                    font-size: rem(20);
                    font-weight: $fontRegular;
                    line-height: rem(24);
                    color: $green-0;
                }
                .btn-close {
                    background: transparent;
                    padding: 0 rem(10);
                    margin: 0;
                    position: absolute;
                    #{$right}: 0;
                    top: 0;
                    color: $green-0;
                    opacity: 1;
                    font-size: rem(20);
                    font-weight: $fontRegular;
                    line-height: rem(24);
                    border: none;
                }
            }
            .modal-body {
                padding: 0;
                button {
                    font-size: rem(20);
                    font-weight: $fontRegular;
                    line-height: rem(24);
                    padding: rem(12) rem(20);
                }
                p {
                    font-size: rem(20);
                    font-weight: $fontRegular;
                    line-height: rem(24);
                    margin: 0 rem(19);
                    margin-top: rem(17);
                    margin-bottom: rem(31);
                }
                .main_title {
                    font-size: rem(35);
                    font-weight: $fontBold;
                    line-height: rem(42);
                    margin-bottom: rem(18);
                    color: $green-42;
                    text-align: center;
                    margin-top: rem(13);
                }
            }
        }
    }
}
