.slide_section_home {
    position: relative;

    .content-bottom {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            top: 0;
            #{$left}: 0;
            #{$right}: 0;
            background-image: url(#{$imgPath}/main-section-bg.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            #{$left}: 0;
            #{$right}: 0;
            background: linear-gradient(#edeceb, #f6f6f6);
            z-index: -1;
            height: rem(142);
        }

        .item-slide {
            padding-top: rem(141);
            padding-bottom: rem(165);
            @media (max-width: 768px) {
                padding-top: rem(79);
                padding-bottom: rem(87);
            }
            h2 {
                font-size: rem(60);
                font-weight: $fontRegular;
                color: $green-0;
                line-height: rem(71);
                margin-bottom: 0;

                @media (max-width: 768px) {
                    font-size: rem(47);
                    line-height: rem(56);
                }
            }

            p {
                color: $green-0;
                font-size: rem(35);
                font-weight: $fontRegular;
                margin-bottom: rem(59);
                max-width: rem(633);
                line-height: rem(41);

                @media (max-width: 768px) {
                    max-width: 100%;
                    font-size: rem(27);
                    line-height: rem(32);
                }
            }
            .slide_actions {
                @media (max-width: 768px) {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .features_boxes {
        position: relative;
        bottom: rem(65);
        margin-bottom: rem(-65);
        z-index: 1;
        @media (max-width: 768px) {
            bottom: rem(39);
        }
        .container {
            border-bottom: 1px solid $green-0;
        }
        .features_boxes_inner {
            border-radius: rem(10);
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .item_features_box {
                padding-#{$right}: rem(58);
                flex: 1 1 auto;
                margin-bottom: rem(24);
                &:last-child {
                    padding-#{$right}: 0;
                    padding-#{$left}: rem(58);
                    @media (max-width: 768px) {
                        padding-#{$right}: 0;
                        padding-#{$left}: 0;
                    }
                }
                &:nth-child(2) {
                    padding-#{$right}: rem(58);
                    padding-#{$left}: rem(58);
                    @media (max-width: 992px) {
                        padding-#{$right}: 0;
                        padding-#{$left}: 0;
                    }
                    @media (max-width: 768px) {
                        padding-#{$right}: 0;
                        padding-#{$left}: 0;
                    }
                }
                @media (min-width: 768px) {
                    padding-#{$left}: 0;
                }
                @media (max-width: 768px) {
                    padding-#{$right}: 0;
                    padding-#{$left}: 0;
                    flex: 1 1 100%;
                    margin-#{$right}: rem(70);
                    margin-#{$left}: rem(70);
                    /* width: 60%;
                    margin-#{$right}: auto;
                    margin-#{$left}: auto; */
                }
                .item_features_box_inner {
                    border-radius: rem(9);
                    background-color: $white;
                    padding: rem(12);
                    box-shadow: rem(0) rem(3) rem(6) rgba($black-0, 0.16);

                    img {
                        height: rem(155);
                        width: 100%;
                        max-width: 100%;
                        border-radius: rem(9);
                        background-color: rgba($green-49, 0.45);
                        margin-bottom: rem(20);
                    }

                    .item_features_box_content {
                        h4 {
                            font-size: rem(24);
                            font-weight: $fontRegular;
                            color: $green-0;
                            line-height: rem(28);
                            margin-bottom: rem(14);
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.section_why {
    margin-top: rem(8);
    .container {
        border-bottom: 1px solid $green-0;
        padding-bottom: rem(24);
    }
    a {
        margin: auto;
        display: inline-block;
    }
    .section_head {
        margin-bottom: rem(24);
        margin-top: rem(65);
        @media (max-width: 768px) {
            margin-top: rem(49);
        }
        h4 {
            font-size: rem(57);
            line-height: rem(67);
            font-weight: $fontRegular;
            margin-bottom: 0;
            color: $green-0;
            text-align: center;
            span {
                font-size: rem(87);
                line-height: rem(103);
            }
        }
    }
    .section_content {
        .features_boxes {
            position: relative;
            .features_boxes_inner {
                border-radius: rem(10);
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .item_features_box {
                    @media (max-width: 768px) {
                        flex: 1 1 50%;
                        width: 50%;
                    }
                    .item_features_box_inner {
                        margin-bottom: rem(35);
                        .feature_thumbnail {
                            box-shadow: rem(0) rem(3) rem(6) rgba($black-0, 0.16);
                            border-radius: 100%;
                            background-color: #fdf5e6;
                            margin: auto;
                            margin-bottom: rem(20);
                            height: rem(182);
                            width: rem(182);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @media (max-width: 768px) {
                                height: rem(133);
                                width: rem(133);
                            }
                            img {
                                width: auto;
                                max-width: 100%;
                                &:first-child {
                                    width: rem(89);
                                    height: rem(89);
                                    @media (max-width: 768px) {
                                        width: rem(65);
                                        height: rem(65);
                                    }
                                }
                                &:nth-child(2) {
                                    width: rem(111);
                                    height: rem(116);
                                    @media (max-width: 768px) {
                                        width: rem(65);
                                        height: rem(65);
                                    }
                                }
                                &:nth-child(3) {
                                    width: rem(95);
                                    height: rem(96);
                                    @media (max-width: 768px) {
                                        width: rem(70);
                                        height: rem(70);
                                    }
                                }
                                &:nth-child(4) {
                                    width: rem(94);
                                    height: rem(94);
                                    @media (max-width: 768px) {
                                        width: rem(70);
                                        height: rem(70);
                                    }
                                }
                            }
                        }

                        .item_features_box_content {
                            h4 {
                                font-size: rem(24);
                                font-weight: $fontRegular;
                                color: $green-0;
                                line-height: rem(28);
                                margin-bottom: 0;
                                text-align: center;
                                @media (max-width: 768px) {
                                    font-size: rem(17);
                                    line-height: rem(20);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.section_specialized {
    margin-top: rem(82);
    .item_right {
        @media (max-width: 768px) {
            order: 1;
            margin-bottom: rem(61);
        }
        h4 {
            font-size: rem(56);
            line-height: rem(66);
            font-weight: $fontRegular;
            color: $green-0;
            margin-bottom: rem(38);
        }
        p {
            font-size: rem(30);
            line-height: rem(36);
            font-weight: $fontRegular;
            color: $green-0;
            margin-bottom: 0;
        }
    }
    .item_left {
        @media (max-width: 768px) {
            order: 2;
        }
        img {
            max-width: 100%;
        }
    }
}

.slide_doctors {
    padding: rem(55) 0;
}

.page_not_found {
    text-align: center;
    padding: rem(100) 0;
    @media (max-width: 768px) {
        padding-top: rem(223);
        padding-bottom: rem(204);
    }
    img {
        max-width: 100%;
        height: rem(443);
        margin-bottom: rem(21);
        @media (max-width: 768px) {
            height: rem(167);
            margin-bottom: rem(32);
        }
    }

    p {
        font-size: rem(51);
        font-weight: $fontRegular;
        line-height: rem(59);
        color: $grey-6;
        margin-bottom: rem(83);
        @media (max-width: 768px) {
            font-size: rem(27);
            line-height: rem(32);
            margin-bottom: rem(119);
        }
    }

    .btn {
        border-radius: rem(7);
        font-size: rem(18);
        font-weight: $fontBold;
        line-height: rem(21);
        width: rem(353);
        max-width: 100%;
    }
}

.section_paging {
    padding-top: rem(128);
    padding-bottom: rem(159);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("#{$imgPath}/search-section.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    @media (max-width: 768px) {
        padding-top: rem(116);
        padding-bottom: rem(184);
    }
    h2 {
        font-size: rem(39);
        font-weight: $fontBold;
        line-height: rem(46);
        margin-bottom: 0;
        color: $green-2C;
        width: rem(470);
        margin: auto;
        @media (max-width: 768px) {
            font-size: rem(33);
            line-height: rem(40);
            width: 100%;
        }
    }
}

.top_section {
    top: rem(-28);
    position: relative;
    @media (max-width: 768px) {
        top: rem(-70);
    }
}

.page_filter {
    min-height: 100vh;
    .filter_inner {
        display: flex;
        align-items: center;
        margin-bottom: rem(19);
        @media (max-width: 768px) {
            flex-direction: column;
        }
        .filter_inputs_group {
            display: flex;
            align-items: center;
            box-shadow: rem(0) rem(3) rem(6) rgba($black-0, 0.16);
            border-radius: rem(8);
            overflow: hidden;
            margin-#{$right}: rem(16);
            flex-grow: 1;
            @media (max-width: 768px) {
                flex-direction: column;
                width: 100%;
                margin-#{$right}: 0;
            }
            .form-floating {
                margin-bottom: 0;
                flex: 1;
                width: 100%;
                .form-control {
                    padding-top: rem(23);
                    padding-bottom: rem(23);
                    font-size: rem(20);
                    font-weight: $fontRegular;
                    line-height: rem(24);
                    color: $grey-70;
                    border: none;
                    border-radius: 0;
                    border-#{$right}: 1px solid $grey-70;
                    height: rem(63);
                    background-color: $white;
                    @media (max-width: 768px) {
                        border-#{$right}: none;
                        border-bottom: 1px solid $grey-70;
                    }
                }
                &:last-child {
                    .form-control {
                        border: none;
                    }
                }
            }
        }
        .filter_search {
            @media (max-width: 768px) {
                width: 100%;
            }
            .btn {
                padding: rem(18) rem(45);
                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
    .filter_result_label {
        font-size: rem(18);
        font-weight: $fontRegular;
        line-height: rem(21);
        color: $grey-70;
        margin-bottom: rem(20);
        span {
            font-weight: $fontBold;
        }
    }

    .filter_pagination {
        margin: rem(30) 0;
        .pagination {
            justify-content: center;
            border-radius: rem(4);
            .page-item {
                &.active {
                    .page-link {
                        background-color: $green-0;
                        color: $white;
                    }
                }
                .page-link {
                    border-color: $green-0;
                    color: $green-0;
                    font-size: rem(15);
                    font-weight: $fontBold;
                    line-height: rem(20);
                    padding-#{$left}: rem(13.5);
                    padding-#{$right}: rem(13.5);
                }
                &:first-child {
                    .page-link {
                        border-top-#{$left}-radius: rem(4);
                        border-bottom-#{$left}-radius: rem(4);
                    }
                }
                &:last-child {
                    .page-link {
                        border-top-#{$right}-radius: rem(4);
                        border-bottom-#{$right}-radius: rem(4);
                    }
                }
            }
        }
    }
}

.case_details {
    .case_thumbnail {
        height: rem(163);
        width: rem(163);
        max-width: 100%;
        border-radius: 100%;
        box-shadow: rem(0) rem(3) rem(6) rgba($black-0, 0.16);
        overflow: hidden;
        margin: auto;
        margin-bottom: rem(20);
        margin-top: rem(6);
        img {
            height: 100%;
            width: 100%;
        }
    }
}
